.jumbotron {
  
}

h2 {
  padding-bottom: 2%;
}

#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  background-color: teal
      }
      
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  font-family: Helvetica;
  color: white;
      }
      
#notes {
  float: right;
  width: 30%;
  font-family: Helvetica;
      }
      
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
      }
      
input {
  height: 36px;
  font-size: 24px;
      }
      
textarea {
  height: 200px;
  font-size: 18px;
      }